

#threejsCanvas {
  width: 100%;
  height: 90%;
  position: relative;
}

#menu {
  width: 15%;
  position: absolute;
  top: 10%;
  left: 2%;
  background-color: #14192B;
  color: white;
  z-index: 10;
  padding: 0.1em, .5em, .5em, .1em;
}

#view_food_panel {
  height: 7em;
  color: white;
  overflow:hidden;
  overflow-y:scroll;
  background-color: #14192B;
}


.login_error {
    color: red;
}

#programContainer {
    position: relative;
}

#add_food_panel{
    overflow:hidden;
    overflow-y:scroll;
    height: 7em;
    background-color:#14192B;
    color: white;
}

.food_item {
    background-color:#14192B;
    color: white;
    text-align: left;
    padding-left: 0;
}

.food_item:hover {
   background-color:grey;
}

#nutrition_panel {
    background-color:#14192B;
    color: white;
    text-align: left;
}

ul {
 list-style-type: none;
 }

#add_food_panel_label {

    border-width: .01em;
    font-weight: bold;
    padding:.1em;
}

#view_food_panel_label {
    border-width: .01em;
    font-weight: bold;
    padding:.1em;
}

a:link {
  color:white;
}
