{% extends "base.html" %}

{% block content %}

<div>
    <h1>
        Hello {{user.name}} !
    </h1>
    <h3>
        Here are your saved portions:
    </h3>
</div>

<div>
    <ul>
        {% for portion in portions %}
        <div class="portion_nutritional_info">
            <h4>portion.title</h4>
            <h5>portion.timestamp</h5>
            <p>portion.notes</p>
        </div>
        <div class="foods_in_portion">
            <ul>
                {% for food in portion.foods %}
                    <li>
                        food
                    </li>
                    <li>
                        food['amount']
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <div>
      <span>
        Name:
      </span>
                <span>
        portion['title']
      </span>
            </div>
            <div>
      <span>
        Calories:
      </span>
                <span>
         portion['calories']
      </span>
            </div>
            <div>
      <span>
        Carbohydrates:
      </span>
                <span>
         portion['carbohydrates']g
      </span>
            </div>
            <div>
      <span>
        Protein:
      </span>
                <span>
         portion['protein']g
      </span>
            </div>
            <div>
      <span>
        Fat
      </span>
                <span>
         portion['fat']g
      </span>
            </div>
        </div>
        {% endfor %}
    </ul>
</div>



{% endblock %}
